<image src="https://media.giphy.com/media/uUCkfH6eN1RRe/giphy.gif"/>
<h1><%= $game.current_player.name %> attacked <%= $game.opponent_of($game.current_player).name %>!</h1>
<form action="/play">
  <input type="submit" value="Next Turn"/>
</form>
