<link href="<%= url('style.css') %>" rel="stylesheet" type="text/css" />
<center>
   <h1 class="logo">Star Paws</h1>
   <h3><i>May the paws be with you!</i></h3>
   </br>
   <image idth="300" height="300" class="giphy" height src="https://media.giphy.com/media/QEVZOs39xXurC/giphy.gif"/>
   <h1><%= $game.current_player.name %> healed themselves!</h1>
   <form action="/play">
      <input class="button" type="submit" value="Next Turn"/>
   </form>
</center>
