<h1>Welcome to the Battle!</h1>
<h2>Sign in to play</h2>
<form id="name_entry" method="POST" action="/names">
  <label>Player 1:</label>
  <input name="name_player_one" type="text"/>
    <label>Player 2:</label>
  <input name="name_player_two" type="text"/>
  <input value="Play" type="submit"/>
</form>
