<tr>
<td>This is <%= $player_1.name  %> V <%= $player_2.name %>. Prepare to fight!"</td>
</tr>
<tr><td id="p2_hp">P2 HP: <%= @p2_HP %></td></tr>
<form id="p1_actions" action=/attack>
  <input type="submit" value="Attack"/>
</form>
