.button {
  background-color: #4CAF50; /* Green */
  border: solid 2px yellow;
  color: white;
  padding: 5px 90px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-attack {
  background-color: red; /* Green */
  border: solid 2px yellow;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.button-heal {
  background-color: #4CAF50; /* Green */
  border: solid 2px yellow;
  color: white;
  padding: 5px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.HP{
  color: lightgreen;
}

.giphy{
  border-color: red;
  border-style: solid;
  border-width: 2px;
}

div {
    display: inline-block;
}

.logo{
  color: yellow;
  text-shadow: 1px 0 white, 0 -1px white, 1px 0 white, 0 -1px white;
}

body{
  background-image:url("http://wallpapercave.com/wp/saiUfL2.png");
  font-family:arial;
  color: white;
}

.red_text{
color: red;

}
